* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transition: all 0.5 eases;
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 40rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(to right, rgba(104, 7, 212, 0.7), #fff);
  position: absolute;
  border-radius: 50%;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes button {
  margin: 7px;
  padding: 0.2rem 1rem;
  background: none;
  border: none;
  background: #2fc18c;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

button.active {
  background: rgba(104, 7, 212, 0.81);
  color: white;
}
.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}

.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #2fc18c;
  border: none;
  color: white;
  cursor: poniter;
  border-radius: 30px;
  margin-bottom: 50px;
  font-weight: bolder;
}
